<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
    <link rel="stylesheet" href="/form.css">
</head>
<body>
    <div class="container">
        <form method="post" action="/posts">
            <input type="text" placeholder="username" name="username" class="inp-username"/>
            <textarea  placeholder="Write a Post" name ="Content"></textarea>
            <button>Submit</button>
        </form>
    </div>
    
</body>
</html>